<%= render @match %>

<div>
  <%= link_to "Edit this match", edit_match_path(@match) %> |
  <%= link_to "Back to matches", matches_path %>

  <%= button_to "Destroy this match", @match, method: :delete,  data: { confirm: 'Are you sure?' } %>
</div>

<div class="container-fluid">
  <div class="h-100 p-5 bg-light border rounded-3">
    <p>Date: <%= @match.date %>
    <%= @match.home_team.name %> (<%= @match.home_team_score %>) - (<%= @match.visitor_team_score %>) <%= @match.visitor_team.name %>
    Status: <%= @match.status %>
    </p>
    
    <br/>
    <%= link_to "Edit", edit_match_path(@match), class:"btn btn-outline-secondary" %> | <%= link_to "Back to matches", matches_path, class:"btn btn-outline-secondary" %>
  </div>
</div>